/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "font";
  src: url(../assets/fonts/font.otf) format("opentype");
}

body {
  height: 100%;
  min-width: 1350;
  font-family: 'font', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: white;
}

body#background {
  background: url('..//assets/images/juliannie.jpg') no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
h1 {
  float: left;
  font-size: 30px;
}

h3 {
  margin: 10px 0;
  color: #FFDF00;
}

header {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  padding: 5px;
  overflow: hidden;
}

a.basket-menu {
  text-decoration: none;
  color: white;
}

a.simpleCart_checkout,
a.simpleCart_remove,
a.simpleCart_increment,
a.simpleCart_decrement {
  text-decoration: none;
  color: #FFDF00;
}

a.basket-menu:hover,
a.simpleCart_checkout:hover {
 color: #FFDF00;
}


a.simpleCart_checkout:hover,
a.simpleCart_remove:hover,
a.simpleCart_increment:hover,
a.simpleCart_decrement:hover {
  color: white;
}

.simpleCart_items {
  margin: 50px 0 20px 0;
  height: 180px;
  overflow: scroll;
}

.simpleCart_checkout, .simpleCart_grandTotal {
  float: right;
  padding-right: 15px;
}

.item-name {
  display: inline-block;
  font-size: 20px;
  margin: 0 10px 10px 0 ;
  text-decoration: underline;
}

.item-name::after {
  content: ": ";
}

.item-price, .item-increment, .item-decrement, .item-quantity, .item-remove {
  display: inline-block;
  padding-right: 20px;
}

.item-decrement, .item-quantity , .item-remove {
  padding-right: 5px;
}

.simpleCart_checkout {
  font-size: 25px;
}

.juliannie, .gift-basket {
  width: 49.5%;
  float: left;
  padding-top: 10px;
}

.gift-basket {
  text-align: right;
}

.show-basket {
  height: 300px;
  overflow: scroll;
}

.gift-header {
  float: right;
}

.simpleCart_quantity {
  float: left;
  font-size: 35px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

a.simpleCart_increment, a.simpleCart_decrement {
  font-size: 30px;
}

.headerRow, .item-total {
  display: none;
}

.intro-text {
  background: rgba(0,0,0,.5);
  margin-top: 32%;
  padding: 20px;
  line-height: 30px;
}

.intro-text p {
  width: 75%;
  margin: 0 auto;
  font-size: 25px;
}

.gift-box a img {
  width: 250px;
  height: 250px;
}

.gift-list {
  background: rgba(0,0,0,.5);
  margin-top: 50px;
  overflow: scroll;
  text-align: center;
}

.gift-box {
  display: inline-block;
  width: 15%;
  margin: 20px;
  text-align: center;
}

.gift-text p{
  height: 40px;
  font-size: 16px;
}


.closing {
  background: rgba(0,0,0,.5);
  margin-top: 30px;
  padding: 20px;
  font-size: 35px;
  text-align: center;
}

